# Each line is a file pattern followed by one or more owners.
# Owners will be requested for review when someone opens a pull request.

# For more details, see https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/content/build/ @crazy-max @dvdksn

/content/compose/ @aevesiechor

/content/desktop/ @aevesiechor

/content/desktop/extensions/ @aevesiechor

/content/desktop/extensions-sdk/ @aevesiechor

/content/scout/ @dvdksn

/content/iechor-hub/ @aevesiechor @craig-osterhout @stephaurelio

/content/engine/ @dvdksn

/content/subscription/ @aevesiechor @stephaurelio

/content/iechor-hub/publish/ @aevesiechor

/content/iechor-hub/official_images/ @aevesiechor

/content/registry/ @dvdksn

